<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="imageFile">
	
	
	<select id="sequence" resultType="int">
		select image_file_seq.nextval from dual		
	</select>
	
	<!-- 프로젝트 대표 이미지 -->
	<insert id="insertProjectMain" parameterType="ImageDto">
		insert into image_file(image_no, image_upload_name, image_save_name, image_content_type, image_size, project_no, project_state) 
		values(#{imageNo}, #{imageUploadName}, #{imageSaveName}, #{imageContentType}, #{imageSize}, #{projectNo}, 'Y')
	</insert>
	
	<select id="getProjectMain" resultType="ImageDto" parameterType="int">
		select * from image_file where image_no = #{imageNo} and project_state = 'Y'
	</select>
	
	<select id="getProjectMainByProjectNo" resultType="ImageDto" parameterType="int">
		select * from image_file where project_no = #{projectNo} and project_state = 'Y'
	</select>
	
	<select id="confirmProjectMain" resultType="int" parameterType="int">
		SELECT count(*) FROM image_file WHERE project_no = #{projectNo} and project_state = 'Y'
	</select>
	
	<delete id="deleteProjectMain" parameterType="int">
		delete image_file WHERE project_no = #{projectNo} and project_state = 'Y'
	</delete>
	
	<!-- 회원 대표이미지 설정 -->
	<insert id="insertMember" parameterType="ImageDto">
		insert into image_file(image_no, image_upload_name, image_save_name, image_content_type, image_size, member_no) 
		values(#{imageNo}, #{imageUploadName}, #{imageSaveName}, #{imageContentType}, #{imageSize}, #{memberNo})
	</insert>
	
	<select id="getByMemberNo" resultType="ImageDto" parameterType="int">
		select * from image_file where member_no = #{memberNo}
	</select>
	
	<select id="confirmMember" resultType="int" parameterType="int">
		SELECT count(*) FROM image_file WHERE member_no = #{memberNo}
	</select>
	
	<delete id="deleteMember" parameterType="int">
		delete image_file WHERE member_no = #{memberNo}
	</delete>
	
	<select id="getImage" resultType="ImageDto" parameterType="int">
		select * from image_file where image_no = #{imageNo}
	</select>
	
	<!-- 프로젝트 스토리 이미지 -->
	<insert id="insertProjectMainStory" parameterType="ImageDto">
		insert into image_file(image_no, image_upload_name, image_save_name, image_content_type, image_size, project_no) 
		values(#{imageNo}, #{imageUploadName}, #{imageSaveName}, #{imageContentType}, #{imageSize}, #{projectNo})
	</insert>
	
	<!-- 프로젝트 스토리 이미지 갯수 -->
	<select id="getCountProjectStoryImage" resultType="int" parameterType="int">
		select count(*) from image_file where project_no = #{projectNo} and project_state is null and member_no is null
	</select>
	
	<!-- 스토리 이미지 리스트 제외하고 전부 제거 -->
	<delete id="deleteProjectStoryNotCurrentImage" parameterType="map">
		delete image_file 
			where 
				project_no = #{projectNo}
			and 
				substr(image_save_name, instr(image_save_name, '(') + 1, instr(image_save_name, ')') - instr(image_save_name, '(') - 1) 
					not in
						<foreach collection="fileNoList" item="fileNo" separator="," open="(" close=")">
							#{fileNo}
						</foreach>
<!-- 					(3, 4, 5) -->
			and 
				project_state is null 
			and 
				member_no is null
	</delete>
	
	<!-- 스토리 이미지 전부 제거 -->
	<delete id="deleteProjectStoryAllImage">
		delete image_file where project_no = #{projectNo} and project_state is null and member_no is null
	</delete>
	
</mapper>












