<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="member">
<!--  id 복체크-->
	<select id = "idCheck" parameterType = "String" resultType = "MemberDto">
	select*from member where member_id = #{memberId}
	</select>

<!-- 	 번호 생성 구문
	<select id="sequence" resultType="int">
		select member_seq.nextval from dual
	</select> -->

<!--  가입 구문-->
	<insert id = "insert" parameterType = "MemberDto">
		INSERT INTO member(member_no,member_id,member_pw,member_nick,member_email,member_introduce)
		VALUES(member_seq.nextval,#{memberId},#{memberPw},#{memberNick},#{memberEmail},#{memberIntroduce})
	</insert>
	
<!-- 		<select id="get" resultType="MemberDto" parameterType="int">
		select * from member where member_no = #{memberNo}
	</select> -->
	
<!-- 	로그인 구문 -->
	<!-- 로그인 -->
	<select id="login" parameterType="MemberDto" resultType="MemberDto">
		select * from member 
		where member_id = #{memberId} and member_pw = #{memberPw}
	</select>
	
</mapper>
