<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="projectReport">
	
	<insert id="insert" parameterType="ProjectReportDto">
		insert into project_report values(project_report_seq.nextval, #{reportProjectNo}, #{reportMemberNo}, #{reportContent}, sysdate)
	</insert>
	
	<select id="getProjectReportList" resultType="ProjectReportDto">
		select * from project_report
	</select>
	
</mapper>












