<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sponsor">
	
	<insert id="insert" parameterType="SponsorDto">
		insert into sponsor(sponsor_no, member_no, gift_no, project_no, sponsor_amount)
		values(sponsor_seq.nextval, #{memberNo}, #{giftNo}, #{projectNo}, #{sponsorAmount})
    </insert>	
	
</mapper>

