@charset "UTF-8";

html,body {
	min-width: 1200px;
	
}
body{
	display: flex;
	align-items: flex-start;
}
aside{
	background-color: black;
	min-width: 220px;
	z-index:99;
	height: 100vh;
}
section{
	margin:0;
	margin-left:220px;
	width: 100%;
	display:flex;
	flex-direction:column;
	padding: 1rem 0 10rem 0;
}
aside{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	
}
aside *{
	color:white;
}

.admin-logo{
	font-size: 30px;
	padding: 3rem 0;
	font-weight: 900;
}
.admin-aside-top_text{
	width:100%;
	display:block;
	font-size: 12px;
	color:#949ca6;
}
.admin-aside-top_menu{
	 padding: 1rem 0;
	 list-style:none;
}
.admin-aside-top_menu li{
	margin-top: 10px;
	list-style:none;
	font-size: 17px;
}
.admin-aside-top_menu li > a{
	color:#c1c1c1;
	cursor: pointer;
}
.admin-aside-top_menu li:hover > a{
	color:#fff;
	cursor: pointer;
	font-weight: bold;
}
.admin-aside-main-span{
	font-size: 13px;
	font-weight: bold;
}

.admin-home_content_area{
	width: 100%;
	min-height: 50px;
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: space-around;
}

.admin-home_content50{
	width:49%;	
	background-color: white;
	border: 1px solid rgba(0,0,0,0.2);
}

.admin-home_content100{
	width:98%;	
	background-color: white;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	height: 60px; 
	padding: 15px 5px;
}

.admin-home_chart_area{
	width: 100%;
	min-height: 530px;
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: space-around;
}

.admin-home-top-p{
	font-size: 24px;
	font-weight: bold;
	color: black;
}

.admin-home-content-p{
	font-size: 14px;
	font-weight: bold;
}

.admin-home-content-list{
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #cdcdcd;
    height: 50px;
    margin: 10px 0;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
}

.admin-home-content-list-div{
	overflow-y:auto;
	overflow-x:hidden;
}

.admin-home-content-list-div span{
	line-height: 26px;
	padding-right: 20px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.admin-home-content-list span{
	line-height: 26px;
}

.admin-home-content-list-div::-webkit-scrollbar{
	width:8px;
}

.admin-home-content-list-div::-webkit-scrollbar-thumb{
	background-color:rgb(220,220,220);
	border-radius:5px;
	background-clip:padding-box;
	border:2px solid transparent;
}

.admin-home-content-list-div::-webkit-scrollbar-track{
	background-color:transparent;
}

.admin-btn{
	font-size: 12px;
	border-radius: 5px;
	border-style: none;
	font-weight: bold;
	height: 25px;
	width: 50px;
}

.admin-btn:hover{
	background-color: rgb(248, 100, 83);
	color: #fcfcfc;
	transition: background-color 0.2s ease-in-out;
}