@charset "UTF-8";

html,body {
	min-width: 1200px;
	
}
body{
	display: flex;
	align-items: flex-start;
}
aside{
	background-color: black;
	min-width: 220px;
	z-index:99;
	height: 100vh;
}
section{
	margin:0;
	margin-left:220px;
	width: 100%;
	display:flex;
	flex-direction:column;
	padding: 1rem 0 10rem 0;
}
aside{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	
}
aside *{
	color:white;
}

.admin-logo{
	font-size: 30px;
	padding: 3rem 0;
	font-weight: 900;
}
.admin-aside-top_text{
	width:100%;
	display:block;
	font-size: 12px;
	color:#949ca6;
}
.admin-aside-top_menu{
	 padding: 1rem 0;
	 list-style:none;
}
.admin-aside-top_menu li{
	margin-top: 10px;
	list-style:none;
	font-size: 17px;
}
.admin-aside-top_menu li > a{
	color:#c1c1c1;
	cursor: pointer;
}
.admin-aside-top_menu li:hover > a{
	color:#fff;
	cursor: pointer;
	font-weight: bold;
}
.admin-aside-main-span{
	font-size: 13px;
	font-weight: bold;
}




.admin-home_content_area{
	width: 100%;
	min-height: 300px;
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: space-around;
}
.admin-home_content{
	width:49%;	
	background-color: white;
	border: 1px solid rgba(0,0,0,0.2);
}
.admin-home_chart_area{
	width: 100%;
	min-height: 530px;
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: space-around;
}


