@charset "UTF-8";

*:after, *:before{
	box-sizing: inherit;
}

.section-project-row {
	width: 1200px;
	margin: 0 auto;
}

.project-btn{
	width: 120px; 
	height: 40px; 
	justify-content: center;
	margin-right: 20px;
	font-weight: 500; 
	padding: 0 5px; 
	align-items: center; 
}

.project-btn.btn1{
	background-color: #fff; 
	color: black;
	border: 1px solid rgb(240, 240, 240);
	cursor: pointer; 
}

.project-btn.btn2{
	background-color: #f0f0f0; 
	color: #8c8c8c; 
	border: 1px solid #fff;
}

.project-btn.btn3{
	background-color: #f0f0f0; 
	color: #8c8c8c; 
	border: 1px solid #dcdcdc;
	cursor: pointer; 
}

.project-btn.btn4{
	background-color: white;
	color: #8c8c8c; 
	border: 1px solid #dcdcdc;
	cursor: pointer;
	text-align: left;
	padding-left: 20px;
}

.project-btn.btn5{
	background-color: white;
	color: #8c8c8c;
	border: none;
	border-bottom: 1px solid #dcdcdc;
	cursor: pointer;
	text-align: left;
	padding-left: 20px;
}

.project-btn-hover:hover{
	background: rgb(248, 100, 83);
	color: #fcfcfc;
}

.project-main-link{
	margin-bottom: 0px; 
	width: 210px; 
	height: 188px; 
	isplay: block; 
	background: #fff; 
	padding: 20px 0 0 20px;
	border: 1px solid #F2F2F2;
}

.project-main-link:hover{
	box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px, rgb(0 0 0 / 10%) 0px 1px 0px;
    border-radius: 8px;
}

.project-main-ul{
	padding: 0px; 
	margin: 0px auto;
	height: 35px;
	display: flex;
	-webkit-box-align: center; 
	align-items: center; 
	white-space: nowrap;
}

.project-main-li{
	list-style: none; 
	margin-right: 32px;
	padding-bottom: 10px;
	
}

.project-main-li2{
	list-style: none; 
	margin-right: 32px;
	padding-bottom: 10px;
}

.main-li-on{
	border-bottom: 2px solid red;
}

.main-li-a{
	color: rgb(13, 13, 13);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    font-size: 14px !important;
    line-height: 22px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 700 !important;
}

.main-li-a2{
	color: rgba(13, 13, 13, 0.2);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    font-size: 14px !important;
    line-height: 22px !important;
    font-family: NotoSansKR, "SF Pro Text", "Segoe UI", "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 700 !important;
}

.main-li-a2:hover{
	color: rgb(13, 13, 13);
}

.main-li-a2.on{
	color: rgb(13, 13, 13);
}

.main-li-a2>i{
	color: rgba(255, 0, 0, 0.2);
}

.main-li-a2.on>i, .main-li-a2:hover>i{
	color: rgb(255, 0, 0);
}

.project-main-span{
	color: rgb(158, 158, 158);
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    display: block;
}

.project-main-div1{
	height: 90px; 
	text-align: right; 
	padding: 25px 0; 
	display: flex; 
	-webkit-box-pack: end; 
	justify-content: flex-end;
}

.project-main-div2{
	display: inline-flex;
    padding: 0px 0px 30px 0px;
    -webkit-box-align: center;
    align-items: center;
}

.project-main-img{
	background: center center / 50% no-repeat rgb(252, 252, 252) ;
	background: url("../image/projectImageNull.png");
	background-size: 100% 100%;
    margin: 0px 32px 20px 0px;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px, rgb(0 0 0 / 10%) 0px 1px 0px;
    border-radius: 8px; 
    width: 200px; 
    height: 133px; 
    margin-bottom: 0px;
}
	
.project-back-color{
	background-color: rgb(248,248,248);
}

.project-main-header{
	position: fixed;
    top: 0px;
    z-index: 100;
    width: 1200px;
    height: 60px;
    background: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    box-shadow: none;
    transform: translateY(0px);
    padding: 10px;
    margin: 0 auto;
    width: 100%;
}

.project-main-header-in{
	width: 1200px;
    height: 100%;
    margin: 0px auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
}

.project-main-header2{
	width: 100%; 
	overflow-x: hidden; 
	background: rgb(255, 255, 255); 
	position: fixed;
	z-index: 2;
}

.project-main-header2 > .header2-in{
	 font-weight: 700; 
	 padding: 39px 0px 21px; 
	 margin: 0 auto; 
	 width: 1200px; 
	 font-size: 32px !important; 
	 line-height: 44px !important; 
	 height: 120px;
	 margin-top: 60px;
}

.project-main-header3{
	width: 100%; 
	background: rgb(255, 255, 255); 
	margin-top: 180px; 
	position: fixed;
	z-index: 2;
}

.project-main-header4{
	width: 100%; 
	background-color: rgb(255, 255, 255);
	margin-top: 15px;
	padding-top: 10px;
	position: fixed;
	z-index: 2;
}

.project-insert-div{
	 display: flex; 
	 padding-bottom: 48px; 
	 margin-bottom: 56px;
	 margin-top: 100px; 
	 -webkit-box-pack: justify;
	 justify-content: space-between; 
	 
}

.projcet-insert-div2{
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between; 
	width: 630px;
}

.project-insert-div3{
	width: 100%; 
	height: 40px; 
	text-align: right; 
	margin: 20px 0;
}


.project-insert-dl{
	margin: 0px 0px 14px; 
	width: 351px;"
}

.project-insert-dt{
	font-weight: 700; 
	margin-bottom: 12px; 
	font-size: 18px !important; 
	line-height: 24px !important;	
}

.project-insert-dd{
	font-weight: 400;
	color: rgb(109, 109, 109); 
	margin: 0px;
	font-size: 14px !important;
	line-height: 22px !important;
}

.project-insert-p{
	font-size: 14px; 
	line-height: 18px; 
	letter-spacing: -0.005em; 
	margin-bottom: 8px; 
	color: rgb(61, 61, 61); 
	display: flex;
}

.project-insert-p-em{
	font-style: normal;
    color: rgb(158, 158, 158);
    font-weight: normal;
    margin: 0px 0px 0px 4px;
    font-size: 13px;
}

.project-insert-select{
	width: 300px; 
	height: 40px; 
	border: 1px solid rgb(240, 240, 240);
}

.project-insert-select-2{
	width: 300px; 
	height: 40px; 
	border: 1px solid rgb(240, 240, 240);
}

.project-insert-font{
	font-size:23px;
	color: red;
}

.projcet-insert-input{
	width: 620px; 
	height: 40px; 
	border: 1px solid rgb(240, 240, 240);
}

.project-insert-text{
	width: 620px; 
	border: 1px solid rgb(240, 240, 240);
	height: 100px;
	resize: none;
}

.project-insert-file-div{
	width: 620px;
    min-height: 320px;
    padding: 37px 35px;
    background: rgb(255, 255, 255);
    border: 1px dashed rgb(228, 228, 228);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 0.4s ease 0s;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.projcet-insert-file{
	display: block;
    width: 620px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    
}

.project-insert-funding-div{
	margin-top:15px;
	padding: 0 auto;
	height: 200px; 
	background: #ffe6e6; 
	border-radius: 8px; 
	padding: 23px 24px 22px;
	font-weight: 400; 
	color: rgb(109, 109, 109); 
	font-size: 12px !important; 
	line-height: 20px !important;
}

.project-funding-li{
	padding: 0px 0px 45px 20px;
	border-left:1px solid #dcdcdc;
}

.project-insert-gift-item-div{
	margin-top:15px;
	padding: 0 auto;
	height: 200px; 
	background: white; 
	border-radius: 8px; 
	padding: 23px 24px 22px;
	font-weight: 400; 
	color: rgb(109, 109, 109); 
	font-size: 12px !important; 
	line-height: 20px !important;
	position: relative;
	line-height: 20px;
}

.project-insert-gift-div{
	padding: 20px 40px;
	margin: 0px;
	width: 620px;
	height: auto;
	min-height: 300px;
	background: white;
	border-radius: 8px;
	border: 1px solid rgb(240, 240, 240);
	font-size: 12px !important;
	line-height: 20px;
}

.project-insert-gift-item-div>p{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.project-insert-gift-item-div>div{
	position: relative;
}

.project-insert-gift-div>div{
	padding: 10px;
	position: relative;
}

.project-insert-gift-item-div>div>pre{
	text-align: center;
	width: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	white-space: pre-line;
}

.project-insert-gift-div>div>pre{
	text-align: center;
	width: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	white-space: pre-line;
}

.project-insert-gift-div>div>p{
	margin-top: 10px;
}

.project-insert-gift-item-div>div>a>button{
	text-align: center;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	white-space: pre-line;
}

.project-funding-li:before {
    position: absolute;
    top: 4px;
    left: 0px;
    z-index: 1;
    content: "";
    border: 3px solid rgb(0, 0, 0);
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 4px;
    background: rgb(255, 255, 255);
}

.project-funding-li:after {
	content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    height: 100%;
    border-left: 1px solid rgb(228, 228, 228);
}

.project-funding-money-div{
	display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    padding: 0px 18px;
    border: 1px solid rgb(240, 240, 240);
}

.project-funding-money-span{
    color: rgb(13, 13, 13);
    max-height: 44px;
    min-width: 100px;
    display: flex;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    flex: 1 1 0%;
    border: 0px;
    text-align: right;
    padding: 0px;
    background: transparent;
}

.project-funding-p{
	padding-left: 14px; 
	margin-bottom: 5px;
}

.project-itemList{
	max-height: 500px;
	overflow-y: auto;
}

.project-giftList{
	max-height: 830px;
	overflow-y: auto;
}

.project-insert-item-list{
	width: 100%;
	height: 110px;
	margin-bottom: 15px;
	background: white; 
	border-radius: 8px;
	padding: 30px;
	font-weight: 400; 
	color: rgb(109, 109, 109); 
	font-size: 12px !important;
	display: inline-block;
	text-align: justify;
	word-break: break-all;
}

.project-insert-gift-list{
	width: 100%;
	min-height: 120px;
	margin-bottom: 15px;
	background: white; 
	border-radius: 8px;
	padding: 20px 20px;
	font-weight: 400; 
	color: rgb(109, 109, 109); 
	font-size: 12px !important;
	display: inline-block;
	text-align: justify;
	word-break: break-all;
}

.project-disable{ 
	color: #DEDEDE;
	pointer-events: none;
}

.itemListIcon{
	position: relative;
	left: -15px;
	top: -30px;
}

.zi100{
	z-index: 100;
}

.project-gift-item-list{
	max-height: 250px;
	overflow-y: auto;
}

.project-item-checkbox{
	display: none;
}

.project-item-checkbox-wrap {
	width: 100%;
	position: relative;
	min-height: 40px;
}

.project-item-checkbox+.project-item-checkbox-label{
	display: inline-block;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background-color: #f0f0f0; 
	color: #8c8c8c; 
	border: 1px solid #dcdcdc;
}

.project-item-checkbox:checked+.project-item-checkbox-label{
	background-color: rgb(248, 100, 83);
	transition: background-color 0.2s ease-in-out;
}

.project-item-checkbox-text {
	top: -10px;
	padding-top: 12px;
	padding-left: 40px;
	padding-right: 20px;
	font-size: 12px;
	position: absolute;
	width: 100%;
	height: 40px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.project-item-checkbox-text:hover{
	background-color: rgba(0, 0, 0, 0.01);
	border-radius: 10px;
}





/* projectInsert */
.projectInsert.section-background-image{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100%;
}

.projectInsert1.section-row{
	width: 1200px;
	min-height: 1000px;
	margin: 0 auto;
}

.projectInsert1.section-opacity{
	background-color: rgba( 255, 255, 255, 0.9 );
	min-height: 100%;
}

.projectInsert3>.btn,
.projectInsert3>.btn>.btn-progress,
.projectInsert3>ul>li>.btn,
.projectInsert4>.btn{
	padding: 0.5rem;
	outline: none;
	border: 1px solid lightgray;
	border-radius: 5px;
	display: flex;
	position: relative;
}

.projectInsert3>.btn,
.projectInsert3>ul>li>.btn,
.projectInsert4>.btn{
	background-color: white;
}

.projectInsert3>ul{
	max-height: 250px;
	list-style:none;
    margin:0px;
    padding:0px;
    display: block;
    overflow: auto;
}

.projectInsert3>ul:after{
	display: inline-block;
	width: 99%;
	height: 0px;
	content: '';
}

.projectInsert3>ul>li{
	margin: 10px 4px; */
    padding: 0px;
    border: none;
    list-style: none;
    display: inline-block;
    border-radius: 20px;
}

.projectInsert3>ul>li>.btn-insert,
.projectInsert3>ul>li>.btn.category-btn{
	background-color: rgba(235, 232, 163, 0.2);
}

.projectInsert3>.btn>.btn-progress{
	margin-left: auto;
	background-color: rgb(245, 245, 245);
}

.projectInsert3>.btn.btn-hover:hover,
.projectInsert3>ul>li>.btn.btn-hover:hover,
.projectInsert4>.btn.btn-hover:hover{
	background-color: rgb(245, 245, 245);
	transition: background-color 0.2s ease-in-out;
	cursor: pointer;
}

.projectInsert3>ul>li>.btn.btn-hover:hover,
.projectInsert4>.btn.btn-hover:hover{
	background-color: rgb(235, 232, 163);
}

.projectInsert3>.btn>.btn-text,
.projectInsert3>.btn>.btn-progress>.btn-text{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.projectInsert3>ul>li>.btn.btn-inline{
	display: inline-block;
}

.projectInsert3>ul>li>.category-btn.btn-clicked{
	font-weight: bold;
	background-color: rgb(235, 232, 163);
}





/* projectMainGiftandItem */
.projectMainGiftAndItem1{
	background-color: rgb(248,248,248);
	min-height: 1200px;
}

.projectMainGiftAndItemList{
	margin: 0px; 
	width: 400px;
}

.projectMainGiftAndItemInsert{
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between; 
	width: 700px;
}

.projectMainItemInsert{
	
}





/* border & background-color */
.project-border-normal{
	border: 1px solid lightgray;
}

.project-border-none{
	border: none;
}

.project-border-radius{
	border-radius: 5px;
}

.project-background-none{
	background-color: rgba(255, 255, 255, 0);
}

.project-background-white{
	background-color: white;
}

.project-input-money{
	text-align: inherit; 
	border: none;
}


.project-gift-item-delete-btn:hover{
	background-color: rgb(248, 100, 83);
	transition: background-color 0.2s ease-in-out;
	color: white;
}

.font-12{
	font-size: 12px;
}

.font-12.red{
	color: rgb(248, 100, 83); 
	font-size: 12px;
}

.font-20{
	font-size: 20px;
}

.font-20.red{
	color: rgb(248, 100, 83); 
	font-size: 20px;
}

.project-approval-font-span{
	list-style: none;
    color: rgb(109, 109, 109);
    padding-left: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 13px !important;
    line-height: 20px !important;
}

.project-approval-i{
	color: #F86453; 
	margin-top: 10px; 
	font-size: 14px;
}

.project-approval-btn{
	height: 40px; width: 300px; 
	margin-top: 100px; 
	border: 1px solid rgb(240, 240, 240); 
	background-color: white;
    border-radius: 8px;
}

.project-approval-btn:hover {
	background-color: rgb(248, 100, 83);
	transition: background-color 0.2s ease-in-out;
	color: white;
	cursor: pointer;
}

.project-approval-btn2{
	height: 40px; width: 300px; 
	margin-top: 100px; 
	border: 1px solid rgb(240, 240, 240); 
	background-color: rgb(248, 100, 83);
	color: white;
    border-radius: 8px;
}

.project-approval-btn2:hover{
	background-color: white;
	transition: background-color 0.2s ease-in-out;
	color: black;
	cursor: pointer;
}



.project-approval-div{
	display: flex; 
	justify-content: center; 
	background: #f9f9f9; 
	margin: 100px auto; 
	width: 900px; 
	border: 1px solid #dCdCdC; 
	padding: 30px;
}

.project-approval-div-d{
	width: 400px; 
	height: 300px;
}

.project-approval-top-p{
	font-weight: 700; 
	font-size: 20px !important; 
	line-height: 36px !important; 
	margin-top: 10px;
}

.project-approval-btn3{
	height: 40px; width: 300px; 
	margin-top: 100px; 
	border: none; 
	background-color: #ff8989;
	color: white;
    border-radius: 8px;
}
.project-btn-normal-hover:hover{
	background-color: rgb(248, 100, 83);
	color: #fcfcfc;
	transition: background-color 0.2s ease-in-out;
}

.project-community-div{
	display: flex;
    padding-bottom: 48px;
    margin-bottom: 56px;
    margin-top: 50px;
    -webkit-box-pack: justify;
    justify-content: space-between; 
    height: 670px;
}
	
.project-community-row1{
   	background-color: #F8F8F8;
    margin: 20px 0;
    height: 600px;
    max-height: 600px;
    width: 600px;
    -webkit-tap-highlight-color: transparent;
    padding: 10px;
    border: 1px solid #dcdcdc;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px, rgb(0 0 0 / 10%) 0px 1px 0px;
    border-radius: 10px;
}

.project-community-row2{
	background-color: #F8F8F8;
    margin: 20px 0;
    height: 300px;
    max-height: 300px;
    width: 550px;
    -webkit-tap-highlight-color: transparent;
    padding: 10px;
    border: 1px solid #dcdcdc;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px, rgb(0 0 0 / 10%) 0px 1px 0px;
    border-radius: 10px;
}

.project-border-normal-hover:hover{
	border: 1px solid rgb(160, 160, 160);
	transition: border 0.2s ease-in-out;
}

.inputToggleBtn,.inputToggleBtnX{font-size:24px;width:50px;}
.inputToggleBtnX.on{left:calc(100% + 40px);}
.inputToggleContainer.on{width:600px}
.inputToggleContainer{margin-right:80px;height:50px}

.project-search-p{
	padding: 7px 5px; 
	border-bottom: 1px solid #ff4747;
}

.red-hover-cursor:hover {
	color: rgb(248, 100, 83);
	cursor: pointer;
}
.inputToggleBtnX.on{left:calc(100% - 40px);}
.inputToggleContainer.on{width:850px}
.inputToggleContainer{margin-right:40px;height:50px}

.headerLoginLogout>ul.lsNone,.headerProject>ul.lsNone,.projectListState>ul.lsNone{list-style:none}
.headerLoginLogout>ul>li,.headerProject>ul>li,.projectListState>ul>li{padding-top:5px;padding-bottom:5px;padding-right:5px;font-size:16px;border-radius: 5px;}
.headerLoginLogout>ul>li>a,.headerProject>ul>li>a{display:block;}
.headerLoginLogout>ul.small>li::marker,.headerProject>ul.small>li::marker{font-size:12px}
.headerLoginLogout>ul>li:hover,.headerProject>ul>li:hover,.projectListState>ul>li:hover{background-color: rgb(248, 100, 83);}
.headerLoginLogout>ul>li:hover>a,.headerProject>ul>li:hover>a,.projectListState>ul>li:hover{color: white; font-weight: bold;}
.projectListState>ul>li{cursor:pointer;}
