@charset "UTF-8";

/* font */
.fRed{
	color: red;
}
.fBold{
	font-weight: bold;
}

/* width, height */
.mh160{
	min-height: 160px;
}

/* margin, padding */
.mhCenter{
	margin: 0 auto;
}
.m0{
	margin: 0px;
}
.mr5{
	margin-right: 5px;
}
.ml10{
	margin-left: 10px;
}
.p0{
	padding: 0px;
}
.pl10{
	padding-left: 10px;
}
.pl20{
	padding-left: 20px;
}
.pr20{
	padding-right: 20px;
}





/* scrollBlind */
.yb .scrollBlind::-webkit-scrollbar {
	display: none;
}
.scrollOff{
	overflow: hidden;
}





/* modal */
/* height, width, z-index */
.yb .modal{
	border-radius: 10px;
	position: fixed;
	background-color: white;
	height: 300px;
	width: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 102;
	display: none;
	padding: 15px;
}

.yb .modal-background{
	position: fixed;
	background-color: rgba(0, 0, 0, 0.2);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 101;
	display: none;
}

.yb .modalX{
	cursor: pointer;
}

.yb .modal>.modal-header, .yb .modal>.modal-footer{
	padding: 5px;
	height: 20%;
}

.yb .modal>.modal-body{
	padding: 10px;
	height: 60%;
}

.yb .modal>.modal-header>.modal-title{
	font-weight: bold;
	font-size: 20px;
}

.yb .modal>.modal-body>pre{
	margin-bottom: 5px;
	font-size: 14px;
}

.yb .modal>.modal-body>pre{
	white-space: pre-line;
}

.yb .hidden{
	visibility: hidden;
}

.yb .modal>.modal-body>#modal-target{
	margin-bottom: 20px;
}

.yb .modal>.modal-footer>form>.modal-btn{
	width: 100%;
	height: 40px;
	background-color: #f0f0f0; 
	color: #8c8c8c;
	border: 1px solid #dcdcdc;
	cursor: pointer;
}

.yb .modal>.modal-footer>form>.modal-btn:hover{
	background-color: rgb(248, 100, 83);
	transition: background-color 0.2s ease-in-out;
	color: #fcfcfc;
}





/* textarea */
.yb .textarea-fix{
	 resize: none;
	 padding: 20px;
}




/* rotate */
.yb.rotate{
	transform: rotate( 0deg );
	transition: transform 0.2s ease-in-out;
}
	
.yb.reverse{
	transform: rotate( 180deg );
	transition: transform 0.2s ease-in-out;
}





/* position */
.yb .pRel{
	position: relative;
}

.yb .pAbs{
	position: absolute;
}

.yb .pAbsCenter{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}





/* button */
.yb .btnNone{
	cursor: pointer;
	border: none;
	background-color: white;
}

.yb .btnNone:hover{
	background-color: rgba(0, 0, 0, 0.02);
	transition: background-color 0.2s ease-in-out;
}





/* display */
.yb .displayNone{
	display: none;
}





/* text-align */
.yb .tac{
	text-align: center;
}





/* pre */
.yb pre.oneLine{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}